# Next.js
.next/
.turbo/

# Dependencies
node_modules/

# Build & Output
dist/
coverage/
*.tsbuildinfo

# Logs
*.log
logs/

# Vercel
.vercel/

# Environment & Secrets
.env
.env.local
.env*.local
*.env
